body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  background-color: #33bf8e;
}

/** HEADER **/
#header-nav {
  background-color: green;
  border-radius: 0;
  border: 0;
  position: relative;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  position: absolute; left: 
  vertical-align: middle;
  }

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list a:hover {
  background: #E5E5E5;
}


h2 {
  text-align: center;
  color: black;
  font-weight: bold;
}

div.content {
  display: block;
  position: relative;
  background-color: #277c3a;
  margin-top: 10px;
  padding: 10px;
  color: black;
}
h3 {
  text-align: center;
  font-weight: bold;
}

#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.2em;
  background-color: #53b5a3;
  margin:0;
  border: 1px solid black;

  }
#nav-list a {
  color: black;
  text-align: center;
  font-weight: bold;
  margin: 0;
}
#back-to-top {
  font-weight: bold;
  color: black;
}